
    table.wine-table {
    height: 650px;
    overflow-y: auto;
  }
  div {
  font-size: 12px;
  }
   #carouselExampleControls table th,
   #carouselExampleControls table td {
      text-align: center;
   }
   #carouselExampleControls table th {
     background-color: rgba(135, 16, 16, 0.7);
     color: white;
     font-size:18px;
   }

#carouselExampleControls table td {
  background-color: rgba(135, 16, 16, 0.7);
  color: white;
  font-size:16px;
}
@media screen and (max-width: 768px) {
#carouselExampleControls table th,
   #carouselExampleControls table td {
      text-align: center;
   }
   #carouselExampleControls table th {
     background-color: rgba(135, 16, 16, 0.7);
     color: white;
     font-size:13px;
   }
  #carouselExampleControls table td {
     background-color: rgba(135, 16, 16, 0.7);
     color: white;
     font-size:10px;
   }
   div {
  font-size: 9px;
  }
}
@media screen and (max-width: 320px) {
#carouselExampleControls table th,
   #carouselExampleControls table td {
      text-align: center;
   }
   #carouselExampleControls table th {
     background-color: rgba(135, 16, 16, 0.7);
     color: white;
     font-size:11px;
   }
  #carouselExampleControls table td {
     background-color: rgba(135, 16, 16, 0.7);
     color: white;
     font-size:9px;
   }
   div {
  font-size: 8px;
  }
}
 